extends layout
block content
    h1= title
    ul
        each val, index in dat
            li= index + ') ' + val.name
    form(method='post', action='/univer')
        p
            b Добавить университет
            p
                | Название:
                input(type='text', size='40', name='nameofUniver')
                br
            p
                input(type='submit', value='Отправить')